[submodule "cli"]
	path = cli
	url = https://github.com/gochewy/cli.git
[submodule "lib"]
	path = lib
	url = https://github.com/gochewy/lib.git
[submodule "gitpod-workspace"]
	path = gitpod-workspace
	url = https://github.com/gochewy/gitpod-workspace.git
[submodule "nextjs"]
	path = nextjs
	url = https://github.com/gochewy/nextjs.git
[submodule "nestjs"]
	path = nestjs
	url = https://github.com/gochewy/nestjs.git
[submodule "hasura"]
	path = hasura
	url = https://github.com/gochewy/hasura.git
[submodule "expo"]
	path = expo
	url = https://github.com/gochewy/expo.git
[submodule "directus"]
	path = directus
	url = https://github.com/gochewy/directus.git
[submodule "keycloak"]
	path = keycloak
	url = https://github.com/gochewy/keycloak.git
[submodule "s3"]
	path = s3
	url = https://github.com/gochewy/s3.git
[submodule "meilisearch"]
	path = meilisearch
	url = https://github.com/gochewy/meilisearch.git
[submodule "appsmith"]
	path = appsmith
	url = https://github.com/gochewy/appsmith.git
[submodule "metabase"]
	path = metabase
	url = https://github.com/gochewy/metabase.git
[submodule "docs"]
	path = docs
	url = https://github.com/gochewy/docs.git
[submodule "console"]
	path = console
	url = https://github.com/gochewy/console.git
