[submodule "cli"]
	path = cli
	url = https://github.com/gochewy/cli.git
[submodule "lib"]
	path = lib
	url = https://github.com/gochewy/lib.git
[submodule "gitpod-workspace"]
	path = gitpod-workspace
	url = https://github.com/gochewy/gitpod-workspace.git
[submodule "nextjs"]
	path = components/nextjs
	url = https://github.com/gochewy/nextjs.git
[submodule "nestjs"]
	path = components/nestjs
	url = https://github.com/gochewy/nestjs.git
[submodule "hasura"]
	path = components/hasura
	url = https://github.com/gochewy/hasura.git
[submodule "expo"]
	path = components/expo
	url = https://github.com/gochewy/expo.git
[submodule "directus"]
	path = components/directus
	url = https://github.com/gochewy/directus.git
[submodule "keycloak"]
	path = components/keycloak
	url = https://github.com/gochewy/keycloak.git
[submodule "s3"]
	path = components/s3
	url = https://github.com/gochewy/s3.git
[submodule "meilisearch"]
	path = components/meilisearch
	url = https://github.com/gochewy/meilisearch.git
[submodule "appsmith"]
	path = components/appsmith
	url = https://github.com/gochewy/appsmith.git
[submodule "metabase"]
	path = components/metabase
	url = https://github.com/gochewy/metabase.git
[submodule "docs"]
	path = docs
	url = https://github.com/gochewy/docs.git
[submodule "console"]
	path = console
	url = https://github.com/gochewy/console.git
[submodule "postgres"]
	path = components/postgres
	url = https://github.com/gochewy/postgres.git
[submodule "ory-oathkeeper"]
	path = components/ory-oathkeeper
	url = https://github.com/gochewy/ory-oathkeeper.git
[submodule "ory-kratos"]
	path = components/ory-kratos
	url = https://github.com/gochewy/ory-kratos.git
[submodule "component-commands"]
	path = component-commands
	url = https://github.com/gochewy/component-commands.git
[submodule "component-deployment"]
	path = component-deployment
	url = https://github.com/gochewy/component-deployment.git
[submodule "components/docker-development-host"]
	path = components/docker-development-host
	url = https://github.com/gochewy/docker-development-host.git
